// mode切替状態表示
.AST-1F {
  background-color: rosybrown;
  color: white;
}
.AST-2F {
  background-color: darkcyan;
  color: white;
}
.AST-7F {
  background-color: darkkhaki;
}
.INV-4F {
  background-color: indigo;
  color: white;
}