// mode切替状態表示
.A-Bld-1F {
  background-color: rosybrown;
  color: white;
}
.A-Bld-2F {
  background-color: darkcyan;
  color: white;
}
.B-Bld-7F {
  background-color: darkkhaki;
}
.INV-4F {
  background-color: indigo;
  color: white;
}

//文字

.fin {
  color: red;
}

.p01 {
  font-size: small;
  color: navy;
}

.p02 {
  color: darkblue;
}

.p03 {
  font-size: small;
  color: crimson;
  margin-left: 5px;
}

.p04 {
  border-top: 2px double darkcyan;
  margin-top: 4px;
}

.p05 {
  font-size: small;
  background-color: royalblue;
  color: aliceblue;
}

.p06 {
  text-align: left;
}
