    <div class=''>
    
    <% if current_user.group == "Inventory" %>
      <!--モード切替機能(Inventory専用)-->
      <%= form_with url: "/mode", method: :post, id:"mode" do |f|%>
        <div class='mode-menu'>
          
          <div class='field-input'>
            <%= f.select :mode, ['SYUKA-A','SYUKA-C','INV-4F'], { selected: current_user.mode } %>              
          </div>

          <div class="btn01" id="mode-btn">
            <p>モード切替</p>
          <%# 以前のボタン↓ %>
           <!--%= f.submit "モード切替", class:'btn01' %-->
          </div>

          <div class="mode-now" id="mode-now" >
            <p><%= current_user.mode %></p>
          </div>

        </div>

      <% end %>

    <% end %>

    </div>
