  <div class="main_temp">
    <%= render "main" %>
  </div>

  <div class="">
    
    <p class="fin">　<%= notice %></p>
    <p class="p02">貸出リスト</p>
    <p> <%= link_to "自分の貸出確認", rent_list_path, class: 'btn01' %> </p>

    <% if current_user.id == 1 ||
          current_user.id == 3 ||
          current_user.id == 4 %>

      <p><br><br><%= link_to "サンプル登録", new_sample_path, class: 'btn01' %><br><br></p>

    <% end %>

  </div>








