/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

a {
  text-decoration: none;
}

.search {
  width: 200px;
  height: 35px;
  background-color: lightsalmon;
  margin: 10px 5px 5px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search2 {
  width: 200px;
  height: 35px;
  background-color: lightgoldenrodyellow;
  margin: 10px 5px 5px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px dotted darkblue;
}


.search-input {
  width: 100px;
  border: 2px dotted lightseagreen;
}

.search-btn {
  background-color: lightskyblue;
  color: aliceblue;
  width: 50px;
  margin-left: 10px;
  box-shadow: 2px 2px 1px  darkslategray;
  border-radius: 4px;
  cursor: cell;
}

.search-btn:hover {
  background-color: darkorange;
  color: aliceblue;
  width: 50px;
  margin-left: 10px;
  box-shadow: 2px 2px 1px  darkslategray;
  border-radius: 4px;
}


footer {
  height: auto;
}


.fot-menu {
  background-color: lightsalmon;
  width: auto;
  height: auto;
  margin: 5px;
  padding: 5px;
  display: block;
}

.fot-btn {
  background-color: lightskyblue;
  color: aliceblue;
  width: fit-content;
  margin: 10px;
  border: 2px solid white;
  text-decoration: none;
  box-shadow: 2px 2px 1px  darkslategray;
  border-radius: 4px;
  cursor: cell;
}

.fot-btn:hover {
  background-color: darkorange;
  color: aliceblue;
  width: fit-content;
  margin: 10px;
  border: 2px solid white;
  text-decoration: none;
  box-shadow: 2px 2px 1px  darkslategray;
  border-radius: 4px;
  cursor: cell;
}