.exp-board {
  width: 400px;
  background: dimgray;
  text-align: center;
  top: 20px;
  right: 35px;
  position: fixed;
  padding: 5px;
  border: 3px dotted rgb(190, 225, 65);
  cursor: pointer;
  color: aliceblue;
}

.exp-board:hover {
  width: 400px;
  background: gray;
  text-align: center;
  top: 20px;
  right: 35px;
  position: fixed;
  padding: 5px;
  border: 3px dotted rgb(190, 225, 65);
  cursor: pointer;
  color: aliceblue;
}

.exp-content {
  width: 460px;
  height: 600px;
  background: wheat;
  text-align: center;
  border-radius: 2%;
  top: 90px;
  right: 5px;
  position: fixed;
  padding: 5px;
  border: 3px dotted royalblue;
  display: none;
}

.exp-menu {
  display: flex;
}

.exp-lists {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.exp-menu-list {
  margin: 2px;
  background-color: lightskyblue;
  font-weight: bold;
  font-size: small;
  min-width: 84px;
}

.exp-menu-list:hover {
  margin: 2px;
  background-color: royalblue;
  color: aliceblue;
  font-weight: bold;
  font-size: small;
  min-width: 84px;
  cursor: help;
}

@media (max-width: 500px) {
  .exp-board, .exp-content{
    display: none;
  }
}