// Place all the styles related to the samples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header,footer{
  background-color: lightgray;
  border: 2px dotted orange;
  width: 100vw;
  height: 100px;
}

.main_temp{
  background-color: pink;
}

.search-list {
  padding: 3px;
}

.sea-res {
  border-top: 3px double darkblue;
  margin-top: 10px;
  background-color: lightgoldenrodyellow;
}

.mode-menu {
  display: flex;
}

.menu {
  font-size: 13px;
  background-color: darkblue;
  color: white;
  height: 22px;
  width: auto;
  margin: 5px;
  box-shadow: 2px 2px 1px  silver;
  border-radius: 4px;
  padding: 1px;
}

// ↓スマホには適している・PC用は要変更
.sea-res2 {
  margin-bottom: 3px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.fin {
  color: red;
}

.p02 {
  color: darkblue;
}

.p04 {
  border-top: 2px double darkcyan;
  margin-top: 4px;
}

.done-form {
  border: 2px dotted pink;
  margin-top: 4px;
}

.new-sample {
  background-color: pink;
  margin: 5px;
}

.btn01 {
  background-color: lightskyblue;
  color: aliceblue;
  width: auto;
  margin: 3px 5px 10px 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 1px  darkslategray;
  border-radius: 4px;
  cursor: cell;
}

.btn01:hover {
  background-color: darkorange;
  color: aliceblue;
  width: auto;
  margin: 3px 5px 3px 10px;
  border: 2px dotted black;
}

