// Place all the styles related to the samples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header,footer{
  background-color: lightgray;
  border: 2px dotted orange;
  width: 100vw;
  height: 100px;
}

.main_temp{
  background-color: pink;
}

.search-list {
  padding: 3px;
}

.sea-res {
  border-top: 3px double darkblue;
  margin-top: 10px;
  background-color: lightgoldenrodyellow;
}

.sea-res2 {
  margin-bottom: 3px;
  background-color: white;
}

.fin {
  color: red;
}

.p02 {
  color: darkblue;
}

.done-form {
  border: 2px dotted pink;
}

.new-sample {
  background-color: pink;
  margin: 5px;
}

.btn01 {
  background-color: lightskyblue;
  color: aliceblue;
  width: auto;
  margin: 3px 5px 3px 10px;
  border: 1px solid black;
}
