// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account-page{
  background-color: lightgoldenrodyellow;
  text-align: center;
  
}

.field-input{
  margin: 5px;
  width: auto;
  
}



.mode-now {
  font-size: 13px;
  background-color: dimgray;
  color: white;
  height: 22px;
  margin: 5px;
  box-shadow: 2px 2px 1px  silver;
  border-radius: 4px;
  padding: 1px;

}

