// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account-page{
  background-color: lightgoldenrodyellow;
  text-align: center;
  
}

.field-input{
  margin: 5px;
  width: auto;
  
}

.field{

}

