<p>このメールは南英雄作 wms_3 から送信されております。</p>
<p>wms_3で登録したアドレス "<%= @resource.email %>" 宛てに送信しております。</p>
<br>
<p>パスワードの再設定をする方は以下のリンクからお願い致します。</p>

<p><%= link_to '再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>・現時点ではパスワードは変更されていませんので、変更不要の方はそのままで構いません。</p>
<p>・再設定時、パスワードは暗号化されますので安全です。</p>
<p>・wms_3はプログラミング勉強中の作品です。送信元のアドレスはGmailを利用しております。</p><br>
<p>©️ minami Co.Ltd wms_3 mobile ver_3β</p>