      <div class="exp-menu">
        <ul class="exp-lists">
          <li class="exp-menu-list" id="exp-menu1">メニュー</li>
          <li class="exp-menu-list" id="exp-menu2">課題解決</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>

        </ul>
      </div>
      <div class="exp-inside" id="exp-inside">

        <div class="inside-menu1" id="inside-menu1" >
          <p class="p05">app概要</p>
          <p class="p06">【目的】<br>TVショッピング企業向け　商品サンプルロケーション管理</p><br>
          <p class="p06">【想定する利用企業】<br>このappは私の現在の職場（自社の放送局を持つTV通販会社）での利用を想定して作りました。<br>同じTV通販企業・その他通常のTV局・社内の商品サンプルを頻繁に移動する可能性のある企業で利用が出来ます<br></p><br>
        </div>

        <div class="inside-menu2" id="inside-menu2" >
          <p class="p05">課題解決</p>
          <p class="p06">私の会社にあるシステムの不便なところを社員より実際に聞き取り、その内容を改善してこのappを作りました。</p><br>
          <p class="p06">【before】<br>ロケーションの移動に赤外線ターミナルを利用。３〜４アクション必要で手間が掛かります。</p><br>
          <p class="p06">【after】<br>このappはスマホのNFC / QR の読取機能を利用して１〜２アクションで同じ操作を行うことが出来る。</p><br>
        </div>

      </div>