      <div class="exp-menu">
        <ul class="exp-lists">
          <li class="exp-menu-list" id="exp-menu1">app概要</li>
          <li class="exp-menu-list" id="exp-menu2">課題解決</li>
          <li class="exp-menu-list" id="exp-menu3">利用準備</li>
          <li class="exp-menu-list" id="exp-menu4">user情報</li>
          <li class="exp-menu-list" id="exp-menu5">撮影チーム</li>
          <li class="exp-menu-list" id="exp-menu6">キャスター</li>
          <li class="exp-menu-list" id="exp-menu7">操作履歴</li>
          <li class="exp-menu-list" id="exp-menu8">Aスタジオ</li>
          <li class="exp-menu-list" id="exp-menu9">メニュー</li>
          <li class="exp-menu-list" id="exp-menu10">メニュー</li>
          <li class="exp-menu-list" id="exp-menu11">メニュー</li>
          <li class="exp-menu-list" id="exp-menu12">メニュー</li>

        </ul>
      </div>
      <div class="exp-inside" id="exp-inside">

        <div class="inside-menu1" id="inside-menu1" >
          <p class="p05">app概要</p>
          <p class="p06">【目的】<br>TVショッピング企業向け　商品サンプルロケーション管理</p><br>
          <p class="p06">【想定する利用企業】<br>このappは私の現在の職場（自社の放送局を持つTV通販会社）での利用を想定して作りました。<br>同じTV通販企業・その他通常のTV局・社内の商品サンプルを頻繁に移動する可能性のある企業で利用が出来ます<br></p><br>
          <p class="p06">【利用概要】<br>PCのブラウザで表示自体はできますが、このappはスマホでの利用を想定して作っております。<br>viewはスマホ向けの表示のみ作っております。<br>スマホでの利用方法を含めてこの説明メニューをご覧ください。<br>この説明メニューはPCブラウザでのみ表示されます。その為、PC＋スマホを1〜2台ご用意頂くと体験しやすいです。</p><br>ご不明な点はメールでお問い合わせ下さい。<%= mail_to 'kyuu5988@yahoo.co.jp' %>
        </div>

        <div class="inside-menu2" id="inside-menu2" >
          <p class="p05">課題解決</p>
          <p class="p06">私の会社にあるシステムの不便なところを社員より実際に聞き取り、その内容を改善してこのappを作りました。</p><br>
          <p class="p06">【before】<br>①ロケーションの移動に赤外線ターミナルを利用。３〜４アクション必要で手間が掛かります。<br>②現在は3つのシステムを使用しており、必要な機能ごとにそのアプリを立ち上げる必要がある<br>③全てPCでしか操作出来ない。<br>④現状は高額なハンディターミナルを購入またはレンタルする必要がある</p><br>
          <p class="p06">【after】<br>①スマホのNFC / QR の読取機能を利用して１〜２アクションで同じ操作を行うことが出来る。<br>②複数に別れたシステムを統一（ロケ移動・OA予定参照・ロケ移動履歴）<br>③スマホで全ての機能が利用できるので、狭い現場でも作業がしやすいです。<br>④端末は古いスマホでも動作するのでコストが低いです。</p><br>
        </div>

        <div class="inside-menu3" id="inside-menu3" >
          <p class="p05">利用準備</p>
          <p class="p06">①QRコードを読み取れるスマホをご用意下さい。<br><br>②標準のカメラアプリで読み込めると思いますが、読み込めない場合は無料でダウンロードできる「クルクル - QRコードリーダー」がお勧めです。(ストアでクルクルと検索すると候補に出ます。)<br>※設定で「確認無しでwebページを表示にして頂くとこの後がスムーズです。<br><br>③次のQRコードを読み取るとスマホブラウザで私のappのtop pageに行きます。</p>
          <p><img src="https://test.samoant.com/wms_3_qr/wms_top_0_2.png" alt="top_page" class="qr_img"></p>
          <p class="p06">（user情報へお進み下さい）</p>
        </div>

        <div class="inside-menu4" id="inside-menu4" >
          <p class="p05">user情報</p>
          <p class="p06">ログインするuser（社員）は部署の種類があり、それにより機能が異なります。<br>ご自身で作成して頂くことも可能です。<br><br>【登録済user】（Email /  概要）password = 12341234<br>i@i / インベントリーチーム（全機能利用可）<br>c@c / 放送に出演するキャスター（貸出返却可）<br>s@s / 静止画撮影チーム（貸出返却可）<br>ast@ast / Aスタジオ担当専用（スタジオ移動可能）<br>cst@cst / Cスタジオ担当専用（スタジオ移動可能）<br><br>【新規登録】<br>所属部署を「Inventory」にして頂くと全ての機能が利用出来ます。<br>「各STUDIO」なら現場ADとなり、それ以外はそれぞれのチーム社員となります。</p>
          <p class="p06">（各チームの社員が貸出を行う機能は共通です。貸出の際に記録されるロケーションが変わります。）<br><br>（次のメニューで撮影チームの貸出を試してみて下さい。）</p>
        </div>

        <div class="inside-menu5" id="inside-menu5" >
          <p class="p05">s@s 静止画撮影チーム</p>
          <p class="p06">【QRコードのスキャン】貸出処理<br>実際には商品サンプルにQRやNFCタグが貼ってあります。<br>※事前に現在のロケーションを検索で確認してみましょう。<br>スキャンしたら処理終了です。画面操作は必要ありません。</p>
          <p><img src="https://test.samoant.com/wms_3_qr/666613-002one.png" alt="ネックレス" class="qr_img"></p>
          <p class="p06">appの検索で「666613」で検索すると一覧を確認出来ます。<br>リストの上から5番目が該当品です。666613-002 #2<br>（もう一度、このQRをスキャンすると返却が出来ます。）<br>【別の社員が借りようとした場合】<br>すでに貸出したサンプルは貸し出すことは出来ません。<br>c@cなど、別の社員IDで試してみてください。<br>次は「キャスター」のメニューへどうぞ</p>
        </div>

        <div class="inside-menu6" id="inside-menu6" >
          <p class="p05">c@c キャスター（放送に出演して商品紹介をする方です。）</p>
          <p class="p06">先ほどはサンプルを借りれなかったので、別のサンプルを借りてみます。(c@cでログインしていることを確認)<br>【QRコードのスキャン】<br>先程と同じく、スキャンするとその時点で貸出処理終了です。１アクションです。</p>
          <p><img src="https://test.samoant.com/wms_3_qr/672076-001_one.png" alt="ダイソン" class="qr_img"></p>
          <p class="p06">appの検索で「672076」で検索すると一覧を確認出来ます。<br>リストの上から3番目が該当品です。672076-001 #3<br>（もう一度、このQRをスキャンすると返却が出来ます。）<br>【返却】画面上に返却メニューが出ます。一番下のプルダウンから選んで返却が簡単です。処理は一瞬ですので、繰り返し行わないように注意して下さい。</p>
        </div>

        <div class="inside-menu7" id="inside-menu7" >
          <p class="p05">操作履歴</p>
          <p class="p06">今までで「撮影チーム」「キャスター」のページで何回かロケーション移動を行いました。<br>両方のページで出ているサンプルの番号で商品検索します。<br>該当サンプルの詳細ページの一番下には今行った操作の履歴が残っています。<br><br>【検索してみるサンプル】</p>
          <p class="p06">「672076」<br>リストの上から3番目が該当品です。672076-001 #3<br>「666613」<br>リストの上から5番目が該当品です。666613-002 #2<br><br>履歴はずっと残りますので、他の方の操作履歴も残っています。（実際のシステムでも数年分の記録を保存します。）<br><br>※他の方が貸出体験をする時の為に返却をして頂くと助かります。<br><br>次はスタジオにいるADになって商品サンプルをまとめて移動してみます。</p>
        </div>

        <div class="inside-menu8" id="inside-menu8" >
          <p class="p05">ast@ast Aスタジオ担当専用</p>
          <p class="p06">放送で使う商品サンプルを準備する担当です。<br>毎日数百点〜千点程移動があります。<br>【QRコードのスキャン】<br>今までと違うのはスキャンすると同じ品番（6桁）の物はまとめて移動処理をすることが出来ます。</p>
          <p><img src="https://test.samoant.com/wms_3_qr/664839-all.png" alt="デニムパンツ" class="qr_img"></p>
          <p class="p06">appの検索で「664839」で検索すると一覧を確認出来ます。<br>リストの全てが該当品です。<br>スキャン後は全てのサンプルが一括でスタジオロケに変わります。（貸出中を除く）<br>【返却】スタジオ担当は直接返却処理をしません。ここで、Inventoryチームの出番です。</p>
        </div>


      </div>